<% title "Employee" %>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
<p>
  <strong>Source:</strong>
  <%= @employee.source? %>
</p>
<p>
  <strong>Country:</strong>
  <%= @employee.country %>
</p>
<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>
<p>
  <strong>Hour Rate:</strong>
  <%= @employee.hour_rate %>
</p>
<p>
  <strong>Monthly Rate:</strong>
  <%= @employee.monthly_rate %>
</p>
<p>
  <strong>Availability:</strong>
  <%= @employee.availability %>
</p>
<p>
  <strong>Available:</strong>
  <%= @employee.available? %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @employee.notes %>
</p>
