<% title "Engagements" %>

<table>
  <tr>
    <th>Employee</th>
    <th>Project</th>
    <th>Commitment(hours)</th>
  </tr>
  <% for engagement in @engagements %>
    <tr>
      <td><%= link_to engagement.employee.name, admin_employee_path(engagement.employee)  %></td>
      <td><%= engagement.project.name %></td>
      <td><%= engagement.commitment %></td>
      <td class="action">
        <%= link_to "Show", admin_engagement_path(engagement), :class => 'view' %>
        <%= link_to "Edit", edit_admin_engagement_path(engagement), :class => 'edit' %>
        <%= link_to "Destroy", admin_engagement_path(engagement), :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %>
	     </td>
     </tr>
  <% end %>
</table>

<p><%= link_to "New Engagement", new_admin_engagement_path %></p>
