<!DOCTYPE html>
<html>
<head>
  <title>Base Application - Admin Dashboard</title>
  <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag 'forms', 'grid', 'print', 'typography' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="container">

    <div class="helpNav">
      <a href="/">← Homepage </a>
    </div>
		  <div class = 'login'> 
		    <p>    <%= render "layouts/admin/main_nav" if current_user.admin? %></p>
	  	</div>
	  
	    <div class ='info'>
   	    <h1><%=h yield(:title).nil? ? "Welcome" : yield(:title)%></h1>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

      </div>
    <div class = 'content'>
      <%= yield %>
	  </div>
   
   
   
    </div>

</body>
</html>

